*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3498db;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}
.container{
    position: absolute;
    text-align: center;
}
.number-container{
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.container>button{
    margin: 10px;
    padding: 1rem 2rem;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #27ae60;
}