*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.container {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #4caf50;
}

.form-group .error {
    color: #ff0000;
    margin-top: 5px;
    font-size: 12px;
    display: block;
}

.submit-btn {
    width: 100%;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #3e8e41;
}

.success-msg {
    color: #4caf50;
    font-size: 18px;
    margin-top: 20px;

    
}

.error-msg {
    color: #ff0000;
    font-size: 18px;
    margin-top: 20px;
}